<!DOCTYPE html>
<html lang="en">

<head>
   <script data-ad-client="ca-pub-7683472667662805" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script data-ad-client="ca-pub-5462967269540232" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<style>
    html {
        position: relative;
        min-height: 100%;
    }

    #tdd {
        text-align: right;
    }

    #cases {
        background-color: moccasin;
    }

    #deaths {
        background-color: red;
    }

    #rec {
        background-color: springgreen;
    }

    table.floatThead-table {
        border-top: none;
        border-bottom: none;
        background-color: #fff;
    }

    body {
        min-height: 400px;
        margin-bottom: 100px;
        clear: both;
        padding: 25px;
        ;
    }

    #tg {
        border: solid;
        border-color: teal;
        margin-right: 20px;
        ;
    }

    th {
        position: sticky;
        top: 0px;
        background: white;
        font-size: 18px;
        border: black;
        font-style: oblique;
    }

    .foot {
        position: absolute;
        margin-top: 0px;
        left: 0;
        bottom: 0;
        width: 100%;

        text-align: center;
    }

    #flag {
        height: 18px;
        width: 25px;
        ;
    }
</style>

<body>

    <div class="container">
        {{>navbar}}

        <h1>Confirmed Cases and Deaths by Country</h1>
        <a href="/" id="tg"><u>View total figures</u></a>
        <a href="/countryWise" id="tg"><u>Current live stats </u></a>
        <br>
        <table class="table" style="width: 90%;" border="1">
            <thead>
                <tr id="tdd" style="color:slategray; position:sticky">
                    <th style="text-align: left;">Country</th>
                    <th id="cases">Cases</th>
                    <th>Today Cases</th>
                    <th>Deaths</th>
                    <th id="deaths">New Deaths</th>
                    <th id="rec">Recovered</th>
                    <th>Active</th>
                    <th>Tests</th>
                    <th>Critical</th>
                    <th>Cases per million </th>
                    <th>Deaths per million</th>
                    <th>Tests per million</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr id="tdd">
                    <td style="text-align: left;">{{this.country}} <img src="{{this.countryInfo.flag}}" alt="flag"
                            id="flag"></td>
                    <td id="cases">{{this.cases}}</td>
                    <td><strong>+ </strong>{{this.todayCases}}</td>
                    <td>{{this.deaths}}</td>
                    <td id="deaths"><strong>+ </strong>{{this.todayDeaths}}</td>
                    <td id="rec">{{this.recovered}}</td>
                    <td>{{this.active}}</td>
                    <td>{{this.tests}}</td>
                    <td>{{this.critical}}</td>
                    <td>{{this.casesPerOneMillion}}</td>
                    <td>{{this.deathsPerOneMillion}}</td>
                    <td>{{this.testsPerOneMillion}}</td>
                </tr>
                {{/each}}
            </tbody>


        </table>
        <footer class="foot">
            <p>Made by Jain-Sanchit</p>
        </footer>
    </div>



</body>

</html>
