<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148875763-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-148875763-3');
    </script>

   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>India Updates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<style>
    #tt {
        font-size: 25px;
        ;
    }

    .row {
        margin-bottom: 15px;
        ;
    }

    .card {
        margin-bottom: 15px;

    }
</style>

<body>
    <div class="container text-center">
        {{>navbar}}
        <br><br>
        <h1 style="color: gray; background:linen">CORONA LATEST UPDATES AND FIGURES WORLDWIDE</h1>

        <div class="row" style="margin-top: 50px;;">
            <div class="col md-8 sm-9">
                <h2 style="font-family: archia;font-size:26px;">INDIA COVID-19 UPDATES</h2>
            </div>
            <div class="col md-2 sm-3" style="text-align: right;">
                <h6>Last updated on : {{d}}</h6>
            </div>

        </div>
        <div class="row justify-content-around">
            {{#each st}}
            {{#ifEquals  this.state "Total" }}
            <div class="col-md-3-sm-6" id="tt" style="color: #ff073a;">Total Cases : {{this.confirmed}} </div>
            <div class="col-md-3-sm-6" id="tt" style="color: rgb(220, 183, 20);">Cases Today : {{this.deltaconfirmed}}
            </div>
            <div class="col-md-3-sm-6" id="tt" style="color:  #46a728;">Recovered : {{this.recovered}}</div>
            <div class="col-md-3-sm-6" id="tt" style="color: rgb(104, 97, 97);">Deaths : {{this.deaths}}</div>
            {{/ifEquals}}
            {{/each}}
        </div>

        <div class="row justify-content-around">
            {{#each st}}
            {{#ifEquals  this.state "Total" }}

            {{else}}

            <div class="col-md-3-sm-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-body" style="text-align: center;background-color:snow">
                        <h5 class="card-title">{{this.state}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">last updated : {{this.lastupdatedtime}}</h6>
                        <hr>
                        <h5 class="card-text">Cases: <strong>{{this.confirmed}}</strong></h5>
                        <h6>Today Cases : <strong style="color: salmon;">{{this.deltaconfirmed}}</strong></h6>
                        <h6>Deaths : <strong>{{this.deaths}}</strong></h6>
                        <h6>Today Deaths : <strong style="color: red;">{{this.deltadeaths}}</strong></h6>
                        <h6>Recovered : <strong>{{this.recovered}}</strong></h6>
                    </div>
                </div>
            </div>
            {{/ifEquals}}
            {{/each}}
        </div>
    </div>
</body>

</html>
