<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-148875763-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-148875763-3');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona Tracker</title>

</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        min-height: 400px;
        margin-bottom: 100px;
        clear: both;
        padding: 25px;
    }

    .foot {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        text-align: center;
    }

    #h2 {
        padding-bottom: 35px;
    }

    h3 {
        padding-top: 25px;
        ;
    }

    .cards {
        margin-bottom: 25px;
        height: 280px;
        ;
    }
</style>

<body>

    <div class="container text-center">
        {{>navbar}}
        <br><br>
        <h1 style="color: gray; background:linen">CORONA YESTERDAY UPDATES AND FIGURES WORLDWIDE</h1>


        <h2>Total Cases: <span style="color: red;">{{data.cases}}</span></h2>
        <a href="/countryWise"><u>View by Country</u></a>
        <h2>Total Cases Yesterday: <span style="color: brown;">{{data.todayCases}}</span> </h2>
        <br>

        <h2 id="h2">Total Deaths: <span style="color:slategrey;">{{data.deaths}}</span> </h2>

        <h2 id="h2">Total Recovered: <span style="color: yellowgreen;">{{data.recovered}}</span></h2>
        <h2 id="h2">Affected Countries: <span style="color:slategrey;">{{data.affectedCountries}}</span> </h2>
        <h4><a href="/">Check current live data</a></h4>
        <br>



        <div class="row">

            <div class="col md-3 sm-6">
                <div class="card" style="width: 18rem;background-color:ivory">
                    <div class="card-body">
                        <h4 class="card-title">Active Cases</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Cases with an outcome</h6>
                        <hr>
                        <h4><strong>{{data.active}}</strong></h4>
                        <h6 style="color:lightslategray">Currently infected patients</h6>
                        <br>
                        <h5><span>Critical cases : <strong>{{data.critical}}</strong></span></h5>

                    </div>
                </div>
            </div>
            <div class="col md-3 sm-6">
                <div class="card" style="width: 18rem;background-color:ivory">
                    <div class="card-body">
                        <h4 class="card-title">Closed Cases</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Cases with an outcome</h6>
                        <hr>
                        <h4><strong>{{x}}</strong></h4>
                        <br>
                        <h5><span>Recovered cases : <strong>{{data.recovered}}</strong></span></h5>
                        <h5><span>Deaths : <strong>{{data.deaths}}</strong></span></h5>

                    </div>
                </div>
            </div>
            <div class="col md-3 sm-6">
                <div class="card" style="width: 18rem;background-color:ivory">
                    <div class="card-body">
                        <h4 class="card-title">Total Tests</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Tests done world wide</h6>
                        <hr>
                        <h4><strong>{{data.tests}}</strong></h4>
                        <h6 style="color:lightslategray">Total tests</h6>
                        <br>
                        <h5><span>Tests per million : <strong>{{data.testsPerOneMillion}}</strong></span></h5>
                        <h5><span>Cases Per million : <strong>{{data.casesPerOneMillion}}</strong> </span></h5>
                    </div>
                </div>
            </div>

        </div>
        <h3>Last Updated on : <span style="color: darkcyan;">{{d}}</span></h3>
        <footer class="foot">
            <p>Made by Jain-Sanchit</p>

        </footer>
    </div>


</body>

</html>